table {
    
	border: 5px groove lightgrey;
	table-layout: fixed;
	border-spacing: 0;
	overflow: scroll;
	
}

td {
	padding: 0px;
	vertical-align: middle;

	/*margin: 0px;*/
	/*line-height:20px;*/
	/*height: 100px;*/
}

.control-bar{
	page-break-inside: avoid;
	height: 50px;
	background-color: lightgray;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;
	border-bottom-style: groove;
	border-width: 0px 0px 5px 0px;
}

.menu-bar{
	page-break-inside: avoid;
	text-align: left;
	/*height: 50px;*/
	background-color: lightgrey;
	vertical-align: middle;
	border-bottom-style: solid;
	border-width: 0px 0px 1px 0px;
	/*border-width: 0px 0px 3px 0px;*/

}
.menu-item{
	font-size: 12px;
	font-family:"Tahoma";
	text-decoration: none;
	color: black;
	font-weight: normal;
	padding-right: 5px;
	padding-left: 5px;
}

.menu-item:hover{
	background: darkgrey;
	cursor: pointer;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: #333;*/
}

li {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	color: black;
	text-align: center;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-weight:normal;
	font-size: 12px;
	/*margin: 15px;*/
	/*padding: 0px 16px;*/
	padding-left: 5px;
	padding-right: 15px;
	text-decoration: none;
	cursor: pointer;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: darkgrey;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #D3D3D3;
	border-style: groove;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	padding: 10px 5px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
	display: block;
}





.title-bar{
	
	/*
	page-break-inside: avoid;
	height: 50px;
	*/
	background-color: darkblue;
	color:white;
	vertical-align: middle;
	padding-right: 12px;
	padding-left: 12px;
	/*border-bottom-style: groove;*/
	text-decoration: none;
	
}
.x-button{

	font-size: 18px;
	line-height: 22px;
	padding-top: 0px;
	padding-bottom: 0px;
	
	/*
	text-align: center;
	
	
	vertical-align: bottom;
	*/
	text-decoration: none;
	height:22px;
	width: 22px;
	color: white;
	background: red;
	border-radius: 5px;
	float: right;
	
}

a:hover {
	cursor: default;
}

tr{
	/*page-break-inside: avoid;*/
	/*vertical-align: middle;*/
	/*margin:0px;*/
	/*padding: 0px;*/
	/*line-height:25px;*/
}
/*
input{
	width: 25px;
	height: 25px;
}
*/

.game-tile{
	width: 25px;
	height: 25px;
	font-size: 16px;
	font-weight:bold;
}

.closed-tile{
	background-color: darkgrey;
	/*font-size: 16px;*/
	font-weight:bold;
	/*
	font-size: 18px;
	padding: 0px 0px 0px 0px;
	*/
}



.closed-tile:hover{
	background-color: lightsteelblue;
}

.open-tile{
	/*border-style: hidden;*/
	background-color: lightgrey;
	font-weight:bold;
	/*font-size: 16px;*/
 }

.open-tile-1{
	color: blue;
}

.open-tile-2{
	color: green;
}

.open-tile-3{
	color: red;
}

.open-tile-4{
	color: darkblue;
}

.open-tile-5{
	color: brown;
}

.open-tile-6{
	color: cyan;
}

.open-tile-7{
	color: black;
}

.open-tile-8{
	color: grey;
}

.marked-tile{
	color: red;
	/*font-size: 14px;*/
	/*text-shadow: 1px 1px 2px black, 0 0 25px lightgray, 0 0 5px gray;*/
	/*vertical-align: bottom;*/
	background: darkgrey;
	vertical-align: bottom;

}

.exploded-tile{
	 /*color:white;*/
	 background-color: lightgrey;
	 font-size: 12px;
	 vertical-align: bottom;
	 padding:0px 0px 0px 0px;
	
	 /*font-size: 115%;*/
	
	 /*
	 margin: 2px;
	 
	 */
	 

 }

.exploded-tile-origin{
	/*color:white;*/
	background-color: red;
	font-size: 12px;
	vertical-align: bottom;
	padding:0px 0px 0px 0px;

	/*font-size: 115%;*/

	/*margin: 2px;*/
	

}

.btnNewGame{
	height: 40px;
	width: 40px;
	border-radius: 20px;
	color: Black;
	background: yellow;
	line-height: 24px;
	font-size: 24px;
	font-weight: bolder;
	/*
	text-shadow: 1px 1px 2px black, 0 0 25px lightgray, 0 0 5px gray;
		*/
	/*vertical-align: middle;*/

}

.bombCount{
	float: right;
	background: #300000;
	text-shadow: 0px 0px 2px black;
	font-size: 38px;
	letter-spacing: -4px;
	font-family:"Courier New", Courier, monospace;
	color: #FF2000;
	padding: 3px 6px 0px 2px;
}

.timer{
	float: left;
	background: #300000;
	vertical-align: middle;
	text-shadow: 0px 0px 2px black;
	font-size: 38px;
	letter-spacing: -4px;
	font-family:"Courier New", Courier, monospace;
	color: #FF2000;
	padding: 3px 6px 0px 2px;
	
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: lightgrey; /* Fallback color */
	/*
	 background-color: rgba(0,0,0,0.4); 
	*/
	
   
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.highlighted-tile{
    background-color: gold;
    font-weight:bold;
}

.highlighted-tile-2{
    background-color: darkred;
	color: white;
    font-weight:bold;
}

input:focus {
	outline:0;
}